과제 적어넣는 용 : 아이템당 주문 개수와 총량 구하기

In [ ]:
import pandas as pd
import numpy as up
import matplotlib.pyplot as plt
import random
import numpy as np
df = pd.read_csv("/content/data_ex.csv")
df.head()  #6~10개만

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df['AGE'].sum()

In [ ]:
df.count()

In [ ]:
df[['SEX','AREA']].describe()  #unique:범주형 data의 leval수

In [ ]:
df['SEX'].unique()

In [ ]:
df['AREA'].unique()

In [ ]:
df['AREA'].value_counts()

In [ ]:
df['AGE'].sort_values()

In [ ]:
age=df["AGE"].values.tolist()
age

In [ ]:
age=df["AGE"].values.tolist()
plt.hist(age, bins=50)
plt.ylim([0,3])
plt.xlabel("age")
plt.ylabel('Num')

In [ ]:
sex=df["SEX"].values.tolist()
plt.hist(sex, bins=3)
plt.ylim([0,7])
plt.xlabel("sex")
plt.ylabel('Num')

In [ ]:
area=df["AREA"].values.tolist()
plt.hist(area, bins=7)
plt.ylim([0,6])
plt.xlabel("area")
plt.ylabel('Num')

In [ ]:
grouped_sex = df.groupby("SEX")
print(grouped_sex)

In [ ]:
for key, value in grouped_sex:
    print("key : ",key)
    print("value : ",value)

In [ ]:
grouped_area = df.groupby("AREA")
for key, value in grouped_area:
    print("key : ",key)
    print("value : ",value)

In [ ]:
grouped_age = df.groupby("AGE")
for key, value in grouped_age:
    print("key : ",key)
    print("value : ",value)

In [ ]:
df.groupby("SEX").sum()

In [ ]:
df["중년"] = df['AGE'] > 49
df

In [ ]:
def age_name(Age):
    name = ''
    if Age <= 25 : name = '사회초년생'
    elif Age <= 35 and Age > 25 : name="사회생활 1~10년차"
    elif Age <= 45 : name="관리자 역활"
    else : name = "은퇴 예정자"
    return name

In [ ]:
x=df['AGE']
df["AGED"]=df['AGE'].apply(lambda x : age_name(x))
df

In [ ]:
file = "/content/chipotle.tsv"
chipo = pd.read_csv(file, sep="\t")
print(chipo.shape)
print("----------------------------------------------------")
print(chipo.info())
print("----------------------------------------------------")

In [ ]:
chipo.head(10)

In [ ]:
print(chipo.describe())

In [ ]:
print(chipo.columns)

In [ ]:
print(chipo.index)

In [ ]:
chipo[["item_name","choice_description","item_price"]].describe()

In [ ]:
item_count = chipo['item_name'].value_counts()
item_count

In [ ]:
item_count.describe()

In [ ]:
plt.hist(item_count)
plt.xlabel("ordered_item_count")
plt.title('Distribution of all ordered item count')
plt.show()

In [ ]:
item_count_10 = chipo['item_name'].value_counts()[:10]
item_count_10

In [ ]:
item_count_1 = chipo['item_name'].value_counts()[:1]
item_count_1

In [ ]:
for idx, (val,cnt) in enumerate(item_count_10.items(),1):
    print("Top",idx,":",val,cnt)

In [ ]:
item_quantity = chipo.groupby('item_name')['quarrtity']
item_quantity

In [ ]:
item_quantity.index

In [ ]:
item_quantity.values

In [ ]:
item_quantity_index=item_quantity.index.tolist()
len(item_quantity_index)

In [ ]:
x=np.arange(len(item_quantity_index))
x

In [ ]:
order_cnt=item_quantity.values.tolist()
print(order_cnt)

In [ ]:
plt.bar(x.order_cnt)
plt.xlabel("item_name")
plt.ylabel("ordered Count")
plt.title("Distribution of all Ordered item")
plt.show

In [ ]:
chipo.head()

In [ ]:
chipo.info()

In [ ]:
x=chipo['item_price']
chipo['item_price']=chipo['item_price'].apply(lambda x : float(x[1:]))

In [ ]:
chipo.info()

In [ ]:
chipo.groupby('order_id')['item_price'].sum().mean()

In [ ]:
chipo.groupby('order_id')['item_price'].sum()

In [ ]:
item_price = chipo.groupby('order_id')['item_price'].sum()
item_price

In [ ]:
item_price_index = item_price.index.tolist()

In [ ]:
x=np.arange(len(item_price_index))
x

In [ ]:
item_price_values = item_price.values.tolist()
print(item_price_values)

In [ ]:
plt.bar(x,item_price_values)
plt.xlabe('Order_ld')
plt.ylabe("Item Price")
plt.ylim([0,100])
plt.title("Distribution of Item Price")
plt.show()

In [ ]:
plt.hust(item_price)
plt.xlim([0,130])
plt.xlabe('Item Prtice')
plt.ylabe("Price_Count")
plt.show()

In [ ]:
#추신... 제 구글 계정이 문제가 생겨서... 파일을 못가져 오고있습니다...