In [ ]:
for  i in range(10):
    print(i)

In [ ]:
a=[1,3,5,7,9,11,13]
for i in range(7):
    if i%2==0:
         print(a[i])

In [ ]:
a=[]
for i in range(3):
    a.append(i)
print(a)

In [ ]:
a=[]
b=[]
c=[]

for i in range(7):
    if i>0 and i<4:
        a.append(i)
    if i>3 and i<7:
        b.append(i)
    if i>2 and i<6:
        c.append(i)
print(a)
print(b)
print(c)

In [ ]:
U1 = a+b
U1

In [ ]:
U2 = a+c
U2

In [ ]:
L = []
for i in a:
    for j in c:
        if(i==j):
            L.append(j)
L

In [ ]:
l=[]
for i in a:
    if i in c:
        print(i)
        l.append(i)
l

In [ ]:
for i in a:
    if i in c:
        a.remove(i)
a

In [ ]:
U = a+c
U

In [ ]:
a=[1,2,3]
c=[3,4,5]
d=[]

for i in a:
    if i not in c:
        c.append(i)
c.sort()
c

In [ ]:
a=[1,2,3]
c=[3,4,5]

for i in a:
    if i in c:
        a.remove(i)
a

In [ ]:
b=[4,5,6]
c=[3,4,5]

for i in c:
    if i in b:
        b.remove(i)

b

In [ ]:
b=[1,2,3]
c=[3,4,5]
d=[]

for i in c:
    d.append(i)
    if i in b:
        c.remove(i)
c

In [ ]:
for i in d:
    if i in c:
        d.remove(i)
d

In [ ]:
num=1
while num<10:
    print("3 x %d = %d"%(num,num*3))
    num += 1

In [ ]:
num=1
num2=1
while num<10:
    while num2<10:
        print("%d X %d = %d"%(num,num2,num*num2))
        num2 += 1
    num += 1
    num2=1
    print("")

In [ ]:
while True:
    print("아이디\n")
    b3 = str(input())
    if b3=="qnf5620":
        print("비밀 번호 입력\n")
        b4 =  str(input())
        if b4=="5620":
            print("로그인 완료\n")
            break
        else:
            print("실패\n")
    else:
        print("실패\n")
        continue

In [ ]:
num=1
fac=1
while True:
    if fac*num>1000:
        break
    else:
        fac *= num
        print("%d"%(fac))
        num += 1
fac

In [ ]:
num=1
fac=1
while fac*num<1000:
    fac *= num
    print("%d"%(fac))
    num += 1
fac

In [ ]:
import random

In [ ]:
num_range=range(1,46)
num_list = list(num_range)
print(num_list)

In [ ]:
random.shuffle(num_list)
print(num_list)
num_list[0]

In [ ]:
num_list_2=[]
for i in range(47):
    num_list_2.append(i)
print(num_list_2)

In [ ]:
random.shuffle(num_list_2)
print(num_list_2)
num_list_2[0]

In [ ]:
lotto=[]
while len(lotto)<6:
    random.shuffle(num_list)
    num_selected = num_list[0]
    lotto.append(num_selected)
print(lotto)

In [ ]:
A=[]
while True:
    e=round(random.random(),2)
    A.append(e)
    if len(A) == 5:
        break
print(A)

In [ ]:
num=0
while num<10:
    e=random.randint(1,30)
    num += 1
print(e)

In [ ]:
num=0
while num<10:
    e=random.randrange(0,30,5)
    num += 1
    print(e)

In [ ]:
random.sample(num_list,6)

In [ ]:
num1=2
print("숫자를 입력하시오 \n")
a1=int(input())

if a1==2:
    print("소수입니다.")
elif a1==1:
    print("소수가 아닙니다.")
else:
    while a1>num1 :
        if(a1%num1==0) :
            print("소수가 아닙니다.")
            break  
        else:
            num1 += 1
            if(num1==a1):
                print("소수입니다.")
                break

In [ ]:
num2=1
print("숫자를 입력하시오 \n")
a2=int(input())
b2=[]
while num2 <= a2 :
    if a2%num2 ==0:
        b2.append(num2)
    num2 += 1
b2

In [ ]:
num3=1
print("숫자를 입력하시오 \n")
a3=int(input())
b3=[]
b3_2=[]
while num3 <= a3 :
    if a3%num3 ==0:
        b3.append(num3)
    num3 += 1

#print(b3)
b3.remove(1)
for i in b3:
    if i == 1:
        num3_2=0
    elif i == 2:
        num3_2=0
        b3_2.append(i)
    else:
        num3_2=2
        while i > num3_2:
            if i%num3_2==0:
                #b3_2.append(num3_2)
                break
            else:
                num3_2 += 1
                if num3_2 == i:
                    b3_2.append(num3_2)
                    break
b3_2.sort()
print(b3_2)

In [ ]:
num4_2=0
print("첫번째 수를 입력하시오 \n")
a4=int(input())
print("두번째 수를 입력하시오 \n")
b4=int(input())
num4_2 = a4
while num4_2 > 0:
    if num4_2 > a4 or num4_2 > b4:
        num4_2 -= 1
        continue
    else:
        if a4%num4_2==0 and b4%num4_2==0:
            break
        else:
             num4_2 -= 1
             continue
num4_2

In [ ]:
num5=1
print("첫번째 수를 입력하시오 \n")
a5=int(input())
print("두번째 수를 입력하시오 \n")
b5=int(input())
while True:
    if(num5 % a5 == 0 and num5 % b5 == 0):
        break
    else:
        num5 += 1
        continue
num5

In [ ]:
a1=1
a1_1=[]
ddd=0
while a1 <= 100:
    num1=2

    if a1==2:
         #print("소수입니다.")
         a1_1.append(a1)
    elif a1==1:
         #print("소수가 아닙니다.")
         ddd=0
    else:
        while a1>num1 :
            if(a1%num1==0) :
                #print("소수가 아닙니다.")
                break  
            else:
                num1 += 1
                if(num1==a1):
                    #print("소수입니다.")
                    a1_1.append(a1)
                    break
    a1 += 1
print(a1_1)